.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
}

.navbar-left .logo {
    font-size: 26px;
    margin-left: 45%;
    font-weight: bold;
    text-decoration: none;
    background: linear-gradient(90deg, #FF2E63, #FF9A8B);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: -0.03em;
}

.navbar-right {
    font-size: 16px;
    display: flex;
    gap: 15px;
}

.nav-button {
    font-size: 18px;
    color: white;
    text-decoration: none;
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
    padding: 8px 8px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.login-button {
    background: linear-gradient(135deg, #FF2E63, #fc4a7b);
}

.login-button:hover {
    background: linear-gradient(135deg, #fc1e56, #ff3f72);
    transform: translateY(-1px);
    box-shadow: 0 12px 20px rgba(255, 46, 99, 0.4);
}


.logout-button .fa-sign-out-alt {
    margin-right: 5px;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.614); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    border-radius: 8px;
    position: relative;
    min-width: 400px;
    max-width: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

